/* ----- COMMONS STYLES ----- */

h1,h2,h3,p { margin-top: 0;
             margin-bottom: 0;}

ul, ol { margin-top: 0;
         margin-bottom: 0;
         padding-left: 0;
         list-style-type: none;}

a {color: inherit;
   text-decoration: none;}
button {cursor: pointer;}

.container { max-width: 1158px;
             padding-left: 15px;
             padding-right: 15px;
             margin-left: auto;
             margin-right: auto;}

img { display: block;}

body{font-family: "Roboto", sans-serif;
     color:#434455;
     background: #ffffff;}

.visually-hidden {
             position: absolute;
             width: 1px;
             height: 1px;
             margin: -1px;
             border: 0;
             padding: 0;

             white-space: nowrap;
             clip-path: inset(100%);
             clip: rect(0 0 0 0);
             overflow: hidden;
     }

.hsection-paddings { padding-top: 120px;
                padding-bottom: 120px;}

      /* ----- HEADER STYLES ----- */

.page-hader-container { display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid #e7e9fc;
               }

.navigation { display: flex;
              justify-content: space-between;
              align-items: center;}

.page-hader{line-height:1.17;
border-bottom: 1px solid #e7e9fc}

.logo{  margin-right: 76px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#4d5ae5;
       }
.logo-span{margin-right: 40px;
        color:#2e2f42;} 

.menu { display: flex;
       gap: 40px;}

.menu-link{ display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
       }

.menu-link:hover,
.menu-link:focus{font-weight: 500;
        margin-right: 40px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#404BBF;}

.address{font-style: normal;}

.menu-address { display: flex;
        gap: 40px;
        padding: 24px 0;}
        
.address-link{ display: block;
        gap: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455;}

.address-link:hover,
.address-link:focus{ display: block;
        margin-right: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;}


        /* ----- HERO STYLES ----- */

.hero-section{ padding: 188px 0;
        background: #2e2f42;}

.hero-title{ max-width: 496px;
        margin-bottom: 38px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;}

.button-title-btn {
        display: block;
        cursor: pointer;
        min-width: 169px;
        height: 56px;
        padding: 16px 40px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        border: none;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5; }

.button-item:hover,
.button-item:focus{background: #404bbf;}

        /* ----- BENEFITS STYLES ----- */

.section-paddings{
        padding: 120px 0;}

.menu-ben {gap: 24px;
        display: flex;}

.ben-item { width: calc((100% - 72px) / 4);
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;}

.visually-hidden { position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        visibility: hidden;}

.ben-logo{font-weight: 500;
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;}

.ben-text{line-height: 1.5;
        margin-right: 0;
        letter-spacing: 0.02em;
        }


        /* ----- REVIEWS STYLES ----- */

.reviews-menu {
        display: flex;
        padding-left: 0;
        gap: 24px;
        margin: 0;}

.reviews{ background-color: #F4F4FD;}

.reviews-title{ margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;}

.reviews-item{ 
        width: calc((100% - 72px) / 4);
        border-radius: 0 0 4px 4px;
        background-color: #FFFFFF;}

.img-container{
        padding-top: 32px;
        padding-bottom: 32px;}

.name-logo {font-weight: 500;
        font-size: 20px;
        margin-bottom: 8px;
        row-gap: 48px;
        text-align: center;
        line-height: 1.2;
        letter-spacing: 0.02em;
        background-color: #FFFFFF;
        color: #2e2f42;}

.name-text{font-weight: 400;
        text-align: center;
        margin-right: 0;
        font-size: 16px;
        line-height: 1.5;
        background-color: #FFFFFF;
        letter-spacing: 0.02em;}


        /* ----- PORTFOLIO STYLES ----- */ 

.portfolio-menu { display: flex;
        gap: 48px 24px;
        flex-wrap: wrap;}

.portfolio-container { border: 1px solid #E7E9FC;
        border-top: none;
        padding: 32px 16px;}

.portfolio-item{ 
        width: calc((100% - 48px) / 3);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 60px;}

.portfolio-img{display: block;
max-width: 100%;
height: auto;}

.portfolio-title{ 
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;}

.logo-container{ border: 1px solid #e7e9fc;
border-top: none;
padding: 32px 16px;}

.portfolio-logo { font-weight: 500;
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;}

.portfolio-text{ font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;}

        
        /* ----- FOOTER STYLES ----- */

.footer { padding: 100px 0;
        color: #4d5ae5;
        line-height: 1.17;
        background: #2e2f42;}
        
.footer-logo {
        margin-bottom: 16px;
        display: inline-block;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 0px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#4d5ae5;}

.logo-span-footer{ display: inline-block;
        color: #f4f4fd;}

.text-footer{ max-width: 264px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;}

